body{
    background-color: blanchedalmond;
}

h1{
   
}
.container{
    
    width: 400px;
    height: 400px;
    border: 3px solid red;
    display: grid;
    margin: 100px;
    
}

.grid{
    
    background-color: blanchedalmond;
    border: 1px dotted gray;
    padding:0%;
    
}

.container .grid:hover {
    background-color: var(--grid-background-color);
}